/* @charset "UTF-8"; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700");

/*PEN STYLES*/
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    height: auto;
    /* background-color: rgb(107, 172, 188); */
    
    font-family: Arial, sans-serif;
    /* font-family: 'Noto+Serif+JP', sans-serif; */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* background-image: linear-gradient(0deg, #608dbc, #58c8da); */
    background-image: linear-gradient(0deg, rgb(40, 86, 97), rgb(107, 172, 188));
}

/* 上標 */

nav {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* 將 ul 轉換為 Flex Container */
}

nav li {
    margin-right: 30px;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 600;
    /* font-style: normal; */
}

nav a {
    /* font-family: 'Noto Serif JP', serif; */
    text-decoration: none;
    color: #ffffff;
    /* font-weight: bold; */
    /* font-size: 1.5em; */
    font-size: 24px;
    border-bottom: none; /* 移除底線 */
}

nav a:hover {
    border-bottom: 2px solid #ffffff; /* 游標放上時顯示底線 */
}

nav li.selected a {
    border-bottom: 2px solid #ffffff;
}



.blog-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 15px;
    overflow: hidden;
    z-index: 0;
    margin-top: 3%;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #5ad67d;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.blog-card .details a {
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
    /*font-family: 'Noto Serif JP', sans-serif;
    font-weight: 600;*/
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
}

.blog-card .description .read-more a:after {
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 1000px;
    }

    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }

    .blog-card .description {
        flex-basis: 60%;
    }

    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .blog-card.alt {
        flex-direction: row-reverse;
    }

    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }

    .blog-card.alt .details {
        padding-left: 25px;
    }
}

.blog-card.alt {
    flex-direction: row-reverse;
}

.meta {
    flex: 1;
    padding: 20px;
}

.photo {
    height: 300px; /* Set photo height */
    background-size: cover;
    background-position: center;
    border-radius: 4px; /* Optional: Add border radius for a rounded appearance */
}

.details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details li {
    margin-bottom: 8px;
}

.details a {
    color: #e2f2fc; /* Set link color */
    text-decoration: none;
}

.description {
    flex: 2;
    padding: 20px;
}

h1, h2, p {
    margin: 0;
    color: #333; /* Set text color */
}

.read-more a {
    color: #e2f2fc; /* Set link color */
    text-decoration: none;
    font-weight: bold;
}

.read-more a:hover {
    text-decoration: underline;
}

  
  .ocean {
    position: relative;
    width: auto;
    height: auto;
  }
  
  .ocean::after,
  .ocean::before {
    background-color: white;
    width: 120%;
    height: 120px;
    position: absolute;
    content: "";
    top: -80px;
    left: -10%;
    border-radius: 100%;
    animation: waves 10s ease infinite;
    opacity: 0.2;
  }
  
  .ocean::before {
    top: -60px;
    animation-delay: 5s;
    opacity: 0.1;
    left: -5%;
  }
  
  @keyframes waves {
    0%, 100% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
  }
  .bubbles {
    width: 100%;
    height: 100vh;
    animation: bubbles 10s linear infinite;
  }
  
  @keyframes bubbles {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }
  .bubbles span {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -10%;
    animation: bubble 10s ease-in-out infinite;
  }
  
  @keyframes bubble {
    0% {
      bottom: -10%;
      opacity: 0;
    }
    100% {
      bottom: 100%;
    }
  }
  .bubbles span:nth-child(1) {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    left: 10%;
    animation-delay: 3s;
    animation-duration: 10s;
    opacity: 0.2;
  }
  
  .bubbles span:nth-child(2) {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 5s;
    opacity: 0.1;
  }
  
  .bubbles span:nth-child(3) {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
  }
  
  .bubbles span:nth-child(4) {
    width: 35px;
    height: 35px;
    opacity: 0.5;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 8s;
    opacity: 0.2;
  }
  
  .bubbles span:nth-child(5) {
    width: 45px;
    height: 45px;
    opacity: 0.5;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
  }
  
  .bubbles span:nth-child(6) {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
  }
  
  .bubbles span:nth-child(7) {
    width: 15px;
    height: 15px;
    opacity: 0.5;
    left: 90%;
    animation-duration: 25s;
    opacity: 0.3;
  }
  
  .bubbles span:nth-child(8) {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    left: 50%;
    animation-duration: 10s;
    opacity: 0.2;
  }

.d1{
    position: relative;
    margin-top: 10%;
}


