/* easeInQuart */
/* easeOutQuart */
/* easeInOutQuart */
html {
    font-size: 8px;
}

@media screen and (max-height: 800px) {
    html {
        font-size: 1vh;
    }
}

body {
    font-size: 16px;
    font-family: "PT Serif", serif;
    margin-top: 5%;
    background: #e6f2f9; /*改*/
}

@media screen and (max-height: 800px) {
    body {
        font-size: 2vh;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    user-select: none;
}

.slide {
    pointer-events: none;
}

.slide.is-active {
    pointer-events: auto;
}

@media screen and (max-height: 800px) {
    .nav__logo {
        font-size: 2.5vh;
    }
}

@media screen and (max-height: 800px) {
    .nav__links {
        font-size: 1.5vh;
    }
}

.header {
    width: 86vw;
    margin: auto;
    height: 82rem;
    display: flex;
}

.header__left {
    width: 420px;
    position: relative;
}

.header__right {
    flex: 1;
    position: relative;
}

@media screen and (max-height: 800px) {
    .number {
        font-size: 6.25vh;
    }
}

.title {
    width: 72rem;
    height: 32rem;
    position: relative;
    margin-top: 15rem;
    z-index: 5;
    color: white;
    padding: 8rem 0;
}

.title:before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(76rem + 7vw);
    height: 100%;
    right: -4rem;
    background: #bcd3ec; /*改*/
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top center;
}


.title .slide {
    position: absolute;
}

.title__super {
    font-size: 16px;
    letter-spacing: 0.3em;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0ms linear;
}

@media screen and (max-height: 800px) {
    .title__super {
        font-size: 2vh;
    }
}

.title__big {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 100px;
}

@media screen and (max-height: 800px) {
    .title__big {
        font-size: 12.5vh;
    }
}

.title__big span {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translatey(-2rem);
    transition: opacity 0ms linear, transform 0ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    font-size: 58px;
}

.title__big span.space {
    margin-right: 0.2em;
}

.content {
    width: 40rem;
    margin-top: 6rem;
    height: 29rem;
    position: relative;
    opacity: 0;
}

.content__blurb {
    line-height: 1.5;
    position: absolute;
    opacity: 0;
    transition: opacity 160ms linear;
    font-size: 14px;
    min-width: 23em;
    font-family: "標楷體", KaiTi, "Microsoft JhengHei", Arial, sans-serif;
}

.content__link {
    line-height: 12rem;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding-left: 6rem;
    cursor: pointer;
    opacity: 0;
    transition: color 80ms linear, opacity 1ms 160ms steps(1);
    z-index: 1;
}

@media screen and (max-height: 800px) {
    .content__link {
        font-size: 2.5vh;
    }
}

.content__link span {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translatey(-2rem);
    transition: opacity 160ms linear, transform 160ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.content__link:before,
.content__link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 65%;
    transform: translatey(-50%);
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/arrow-right-white.png");
    background-size: 1rem auto;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes drive {
    0% {
        transform: translatey(-50%) translateX(0rem);
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    40% {
        transform: translatey(-50%) translateX(2.5rem);
        animation-timing-function: steps(1);
    }

    60% {
        transform: translatey(-50%) translateX(-2.5rem);
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    100% {
        transform: translatey(-50%) translateX(0rem);
    }
}

.content__link:hover {
    color: #00D9B1;
}

.content__link:hover:after {
    animation: drive 560ms;
}

.video {
    height: 100%;
    position: relative;
}

.video__left,
.video__right {
    position: absolute;
    height: 100%;
    width: calc(50% - 18px);
    overflow: hidden;
}

.video__left video,
.video__right video {
    position: absolute;
    width: auto;
    height: 100%;
}

.video__left .slide:after,
.video__right .slide:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 150%;
    background: #e6f2f9; /*改*/
    z-index: 2;
}

.video__left video {
    left: 100%;
    transform: translatey(-100%) translatex(-50%);
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.video__left .slide:after {
    transform: translateY(-100%);
}

.video__right {
    right: 0;
}

.video__right video {
    right: 100%;
    transform: translatey(100%) translatex(50%);
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.video__right .slide:after {
    transform: translateY(100%);
}

.controls {
    position: absolute;
    width: calc(50% - 18px);
    height: 12rem;
    bottom: 0;
    right: 0;
    background: #e6f2f9; /*改*/
    text-align: center;
    z-index: 3;
    opacity: 0;
}

.controls__next,
.controls__prev,
.controls__indicator {
    width: 12rem;
    height: 100%;
    display: inline-block;
    max-width: 30%;
}

.controls__next,
.controls__prev {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/arrow-right-grey.png");
    background-size: 1rem auto;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background cubic-bezier(0.165, 0.84, 0.44, 1) 160ms;
    opacity: 0.75;
}

.controls__next:hover,
.controls__prev:hover {
    background-position: 60% center;
}

.controls__next:active,
.controls__prev:active {
    transition: background cubic-bezier(0.165, 0.84, 0.44, 1) 80ms;
    background-position: 70% center;
}

.controls__prev {
    transform: rotate(180deg);
}

.controls__indicator {
    font-family: "Poppins", sans-serif;
    color: #959595;
    font-size: 12px;
    font-weight: 500;
    line-height: 13rem;
    vertical-align: top;
    opacity: 0.65;
}

@media screen and (max-height: 800px) {
    .controls__indicator {
        font-size: 1.5vh;
    }
}

.is-loaded .title .title__super {
    opacity: 1;
}

.is-loaded .title .title__big span {
    opacity: 1;
}

.is-loaded .content .slide.is-active .content__blurb {
    opacity: 1;
    transition: opacity 160ms 80ms linear;
}

.is-loaded .content .content__link {
    opacity: 1;
    transition: color 80ms linear, opacity 1ms 80ms steps(1);
    z-index: 2;
}

.is-loaded .content .content__link span {
    opacity: 1;
    transform: translatey(0);
    transition: opacity 160ms 160ms linear, transform 320ms 160ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.is-loaded .content .content__link span {
    transform: translatey(2rem);
}

.is-loaded .video__left video {
    transition: transform 1ms 600ms steps(1);
}

.is-loaded .video__left .slide.is-active:after {
    transform: translatey(100%);
    transition: transform 1200ms ease-in-out;
}

.is-loaded .video__left .slide.is-active video {
    transform: translatex(-50%);
    transition: transform 1600ms 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.is-loaded .video__right video {
    transition: transform 1ms 400ms steps(1);
}

.is-loaded .video__right .slide.is-active:after {
    transform: translatey(-100%);
    transition: transform 800ms ease-in-out;
}

.is-loaded .video__right .slide.is-active video {
    transform: translatex(50%);
    transition: transform 1200ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.is-loaded [data-active="1"] .number,
.is-loaded [data-active="1"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="1"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded [data-active="2"] .number,
.is-loaded [data-active="2"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="2"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded [data-active="3"] .number,
.is-loaded [data-active="3"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="3"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded [data-active="4"] .number,
.is-loaded [data-active="4"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="4"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded [data-active="5"] .number,
.is-loaded [data-active="5"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="5"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded [data-active="6"] .number,
.is-loaded [data-active="6"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="6"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded [data-active="7"] .number,
.is-loaded [data-active="7"] .content__link:before {
    background: #00D9B1;
}

.is-loaded [data-active="7"] .content__link:hover {
    color: #00D9B1;
}

.is-loaded .nav,
.is-loaded .controls,
.is-loaded .content {
    opacity: 1;
    transform: translatey(0);
    transition: opacity 160ms 640ms linear, transform 160ms 640ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.is-loaded .title:before {
    transform: scaleY(1);
}

article {
    padding: 0em 3em;
}

.btn {
    display: inline-block;
    background-color: #FFF;
    color: #00D9B1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    overflow: hidden;
    transform: translateZ(0);
    transition: all 0.5s ease;
}

.btn>span {
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
    margin: 1em;
}

.btn>span>span {
    background-color: #00D9B1;
    position: absolute;
    border: 1px solid transparent;
}

.btn.leftArrow>span>span {
    width: 1.8em;
    height: 0.4em;
    transform: translate(0.2em, 0.8em);
}

.btn.leftArrow>span>span.s2 {
    transform-origin: 0 100%;
    width: 1.4em;
    transform: translate(0, 0.6em) rotate(45deg);
}

.btn.leftArrow>span>span.s3 {
    transform-origin: 0 0;
    width: 1.4em;
    transform: translate(0, 1em) rotate(-45deg);
}